.page {
  max-width: 1160px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .page {

  }
}


.infoSection1 {
  background-color: blue;
}

.infoBoxContainer {
  display: flex;

}
.infoBoxContainer > .infoBox {
  width: 50%;
}

.infoSection2 {
  background-color: green;
}

.musicalIntroduceBoxContainer {
}

.musicalIntroduceBoxContainer > .musicalIntroduceBox {
}

.musicalIntroduceBoxContainer > .musicalIntroduceBox > img {
  width: 300px;
  height: 240px;
}