.page {
  max-width: 1160px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .page {

  }
}

.mainBannerContainer {
  display: flex;
  background-color: red;
}

.mainBannerContainer img {
  max-width: 553px;
  width: 100%;
  max-height: 583px;
  height: 100%;  
}

.contentContainer {
  height: 100%;
  margin: auto;
}